@media (max-width: 575.98px) {
    
    .container{
        padding: 1.1rem 1.5rem;
    }
    
    /* --------------------------------- */
    /* Nav Section */
    /* --------------------------------- */
    
    header nav .logo a p,
    header nav ul,
    header nav button{
        display: none;
    }
    header nav{
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }
    header nav .menuBtn{
        display: block;
    }

    /* --------------------------------- */
    /* Hero Section */
    /* --------------------------------- */
    
    .hero-section .row{
        flex-direction: column-reverse;
    }
    .hero-section .row .col-1,
    .hero-section .row .col-2{
        width: 100%;
        text-align: center;
    }
    .hero-section .row .col h1{
        font-size: 3rem;
        padding: 0 3rem;
        margin: 2rem 0;
    }
    .hero-section .row .col p{
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0 10%;
    }
    .hero-section .row .col .btn{
        font-size: 1.5rem;
    }
}