*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    scrollbar-width: none;
}
body{
    overflow-x: hidden;
}
header,
main,
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
}
.container {
    padding: 0 13.3rem;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul,
li,
a{
    text-decoration: none;
    list-style: none;
    color: #000;
}
button,
a{
    cursor: pointer;
}
.btn{
    width: 18.7rem;
    height: 4.8rem;
    font-size: 1.9rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 1.2rem;
    border: none;
    transition: 300ms ease-in-out;
}

/* --------------------------------- */
/* Nav Section */
/* --------------------------------- */

header nav{
    width: 136.8rem;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
}
nav .logo a{
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav .logo a img{
    width: 6rem;
    height: 6rem;
}
nav .logo a p{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
nav ul li:first-child a{
    font-weight: 700;
}
nav ul li a{
    font-size: 1.9rem;
    font-weight: 500;
    transition: 300ms ease-in-out;
}
nav ul li:hover a{
    font-size: 3rem;
    font-weight: 700;
}
nav ul li #home{
    color: rgb(254, 163, 1);
}
nav ul li #about{
    color: rgb(1, 172, 253);
}
nav ul li #facilities{
    color: rgb(5, 212, 223);
}
nav ul li #admission{
    color: rgb(93, 88, 239);
}
nav button{
    background-color: rgb(254, 163, 1);
    border: .3rem solid rgb(254, 163, 1);
    border-radius: 1.2rem;
}
nav button:hover{
    font-size: 2.4rem;
    color: rgb(254, 163, 1);
    background-color: rgb(255, 255, 255);
    border: .3rem solid rgb(254, 163, 1);

}
.menuBtn{
    display: none;
    font-size: 2rem;
    padding: .5rem;
    border-radius: .5rem;
    transition: 300ms ease-in-out;
}
.menuBtn:hover{
    background-color: rgb(254, 163, 1);
    color: #fff;
}

/* --------------------------------- */
/* Hero Section */
/* --------------------------------- */

.hero-section{
    display: flex;
    justify-content: center;
}
.hero-section .row{
    justify-content: space-between;
    align-items: center;
}
.hero-section .row .col-1{
    width: 52.5%;
}
.hero-section .row .col-1 h1{
    font-size: 5.3rem;
    font-weight: 700;
}
.hero-section .row .col-1 p{
    font-size: 1.9rem;
    font-weight: 400;
    margin: 2.3rem 0;
}
.hero-section .row .col-1 button{
    background: rgb(17, 17, 17);
    border: .3rem solid #fff;
}
.hero-section .row .col-1 button:hover{
    font-size: 2.4rem;
    color: #000;
    background-color: #fff;
    border: .3rem solid #000;
}
.hero-section .row .col-2{
    width: 42.5%;
}
.hero-section .row .col-2 img{
    width: 100%;
}

/* --------------------------------- */
/* Standard Section */
/* --------------------------------- */

.standard-section{
    width: 137rem;
    height: 83.5rem;
    margin: 4.8rem 0;
    background-image: url(../Images/bg.png);
    background-size: cover;
}
.standard-section .container{
    text-align: center;
}
.standard-section .container h2{
    font-size: 4.4rem;
    font-weight: 700;
}
.standard-section .row{
    gap: 2.5rem;
    margin: 7.6rem 0;
}
.standard-section .row .col{
    width: 35rem;
    height: 45.8rem;
    padding: 5rem 3.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.standard-section .row .col p{
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 500;
    color: rgb(128, 128, 128);
}
.standard-section .row .col h3{
    font-size: 2.2rem;
    font-weight: 700;
    
}
.standard-section .row .col a{
    font-size: 1.4rem;
    font-weight: 700;
}
.standard-section .row .col-1{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    transition: 300ms ease-in-out;
}
.standard-section .row .col-1:hover{
    box-shadow: none;
    background-color:  #bfedff;
}
.standard-section .row .col-1 a{
    color: rgb(100, 200, 255);
}
.standard-section .row .col-2{
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    transition: 300ms ease-in-out;
}
.standard-section .row .col-2:hover{
    background-color: #FCF2DB;
}
.standard-section .row .col-2 a{
    color: rgb(240, 170, 0);
}
.standard-section .row .col-3{
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    transition: 300ms ease-in-out;
}
.standard-section .row .col-3:hover{
    background-color: #E9DCF9;
}
.standard-section .row .col-3 a{
    color: rgb(135, 0, 255);
}
.standard-section .row .col a{
    transition: 300ms ease-in-out;
}
.standard-section .row .col:hover a{
    padding: .5rem 2rem;
    background-color: #fff;
    border-radius: .5rem;
    font-size: 2rem;
}
.standard-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.standard-section ul li{
    font-size: 2.2rem;
    line-height: 5rem;
    font-weight: 800;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: Orange;
    transition: 300ms ease-in-out;
}
.standard-section ul li:hover{
    font-size: 3rem;
}
.standard-section ul li a{
    color: #fff;


}

/* --------------------------------- */
/* Story Section */
/* --------------------------------- */

.story-section{
    width: 100%;
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    padding: 5rem 0;
}
.story-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.4rem;
}
.story-section .container h2{
    font-size: 4.2rem;
    font-weight: 700;

}
.story-section .col{
    margin: 0 1rem;
}
.story-section .row-1{
    display: flex;
}
.story-section .row-1 .col-1{
    width: 51.3rem;
    height: 60rem;
    border-radius: 1.5rem;
    background-color: #fff;
}
.story-section .row-1 .col .upper img{
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}
.story-section .row-1 .col .lower{
    padding: 3.6rem;
    position: relative;
    
}
.story-section .row-1 .col .lower span{
    font-size: 1.4rem;
    color: #fff;
    padding: 1.4rem;
    border-radius: 5rem;
    background-color: rgb(60, 216, 232);
    position: absolute;
    top: -2.5rem;
}
.story-section .row-1 .col .lower h4{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.6rem;
    margin-bottom: 4.8rem;
}
.story-section .row-1 .col .lower p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: rgb(102, 102, 102);
    
}
.story-section .row-2_1,
.story-section .row-2_2{
    display: flex;
    margin-bottom: 3rem;
} 
.story-section .row-2_1 .col,
.story-section .row-2_2 .col{
    width: 27.6rem;
    height: 28.6rem;
    background-color: #fff;
    border-radius: 1.4rem;
}
.story-section .row-2_1 .col .lower h4,
.story-section .row-2_2 .col .lower h4{
    font-size: 1.4rem;
    line-height: 2.6rem;
}
.story-section .row-2_1 .col-1 .lower span,
.story-section .row-2_2 .col-1 .lower span{
    padding: .9rem 1.8rem;
    background-color: rgb(149, 178, 38);
}
.story-section .row-2_1 .col-2 .lower span,
.story-section .row-2_2 .col-2 .lower span{
    padding: .9rem 1.8rem;
    background-color: rgb(93, 88, 240);
}
.story-section .container .btn{
    background-color: #000;
    color: #fff;
}
.story-section .container .btn:hover{
    background-color: #fff;
    color: #000;
    font-size: 2.6rem;
    border: .3rem solid #000;
    transition: 300ms ease-in-out;
}